/*
added media querry to .card-ul removed button from card-ul
gave card margin bottom of 4rem
*/
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-ul {
  grid-area: cardUl;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  grid-gap: 0.5rem;
  grid-template-areas:
    "location location-input"
    "category category-input"
    "item item-input"
    "description description-input"
    "uom uom-input"
    "case case-input"
    "vendor vendor-input"
    "vc vc-input";
  place-items: center;
  list-style-type: none;
  padding: 0;
  max-width: 100%;

  @media screen and (max-width: 875px) {
    grid-template-areas:
      "location"
      "location-input"
      "category"
      "category-input"
      "item"
      "item-input"
      "description"
      "description-input"
      "uom"
      "uom-input"
      "case"
      "case-input"
      "vendor"
      "vendor-input"
      "vc"
      "vc-input";
    grid-template-rows: repeat(9, auto);
    justify-items: start;
  }
}


.card-header {
  grid-area: card-header;
  margin-top: 0;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;

  @media screen and (min-width: 715px) {
    width: auto;
    margin: 0;
  }
}

.label {
  padding: 8px;
  margin: 5px 0;
}

.location {
  grid-area: location;
  padding: 0;
}

.location-input {
  grid-area: location-input;
}

.category {
  grid-area: category;
}

.category-input {
  grid-area: category-input;
}


.item-input {
  grid-area: item-input;
}

.description-input {
  grid-area: description-input;
}

.uom-input {
  grid-area: uom-input;
}

.case-input {
  grid-area: case-input;
}

.vendor-input {
  grid-area: vendor-input;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-button {
  grid-area: card-button;
}

.card {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-areas:
    "card-header"
    "card-ul"
    "card-button"
  ;
  justify-content: center;
  place-items: center;
  width: 30%;
  padding: 2rem;
  border: 1px solid grey;
  -webkit-box-shadow: 1px 3px 15px -4px #000000;
  box-shadow: 1px 3px 15px -4px #000000;
  margin-bottom: 4rem;
  margin: 0 auto;

}

.create-form {
  margin-bottom: 4rem;
}

.navbar a {
  color: yellowgreen;
  margin: 0 1rem;
}

.navbar a:hover {
  color: green;
}