.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

.cardUl {
  display: grid;
  grid-template-areas:
    "location locationInput"
    "category categoryInput"
    "item itemInput"
    "description descriptionInput"
    "uom uomInput"
    "case caseInput"
    "vendor vendorInput"
    "vc vcInput"
  ;
  list-style-type: none;
  padding-left: 0;
}

.location {
  /* grid-area: location; */
  padding: 0;
}

.locationInput {
  grid-area: locationInput;
}

.category {
  grid-area: category;
}

.categoryInput {
  grid-area: categoryInput;
}


.itemInput {
  grid-area: itemInput;
}

.descriptionInput {
  grid-area: descriptionInput;
}

.uomInput {
  grid-area: uomInput;
}

.caseInput {
  grid-area: caseInput;
}

.vendorInput {
  grid-area: vendorInput;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.card {
  width: 30%;
  padding: 2rem;
  border: 1px solid grey;
  -webkit-box-shadow: 1px 3px 15px -4px #000000;
  box-shadow: 1px 3px 15px -4px #000000;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.navbar a {
  color: yellowgreen;
  margin: 0 1rem;
}

.navbar a:hover {
  color: green;
}